<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>

  <header>
    헤더 삽입부
    <hr>
  </header>

  <main>
    <form>
      <label for="search-type" hidden>유형222222222222222</label>
      <select id="search-type" name="search-type">
        <option>제목</option>
        <option>본문</option>
        <option>ID</option>
        <option>닉네임</option>
        <option>해시태그</option>
      </select>
      <label for="search-value" hidden>검색어</label>
      <input id="search-value" type="search" placeholder="검색어..." name="search-value">
      <button type="submit">검색</button>
    </form>

    <table>
      <
    </table>

  </main>

  <footer>
    <hr>
    footer 삽입부
  </footer>

</body>
</html>